* {
    background-color: lavenderblush;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

h1 {
    text-align: left;
    color:darkred;
} 

h2 {
    margin-left: 100px;
    color:orangered
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th,td,tr {
    text-align: center;
    border: 1px solid;
    padding: 2px;
    width: 125px;
}

ul {
    list-style-type: square;

}

button {
    background-color: pink;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }